# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List commonly used  Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|RStudio|
|Visual Studio Code (VS Code)|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
min = 200
print (min/60,"hours")

3.3333333333333335 hours

## Author
Philip